.button {
  border: 2px solid #fff;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 30px;
  color: #477efe;
  background: #fff;
  padding: 8px 10px;
  font: inherit;
  font-weight: bold;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  border-color: #477efe;
  color: #fff;
  background: #477efe;
}

.button--inverse {
  color: #fff;
  background: #477efe;
  border-color: #477efe;
}

.button--inverse:hover,
.button--inverse:active {
  background: #fff;
  color: #477efe;
  border-color: #fff;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: rgb(255 255 255 / 30%);
  color: #000;
  border-color: rgb(255 255 255 / 30%);
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}