@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

@font-face {
  font-family: "Quattrocento_Bold";
  src: local("Quattrocento_Bold"),
   url("./assets/fonts/Quattrocento-Bold.ttf") format("truetype");
  font-weight: bold;
  src: local("Quattrocento_Regular"),
    url("./assets/fonts/Quattrocento-Regular.ttf")  format("truetype");
 }

* {
  box-sizing: border-box;
}

html {
  font-family: 'Quattrocento_Bold', sans-serif;
}

body {
  margin: 0;
  background: #020621;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}